html {
   
}

* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}


body{

font-family: 'Montserrat', sans-serif;

background-color: rgb(194, 39, 145);
}



section.main {

width: 90vw;
max-width: 620px; 
margin: 30px 3vw; 
background-color: whitesmoke; 

display: flex;
flex-flow: column;
align-items: stretch;

}

div.job{
border-bottom: solid firebrick;
margin-bottom: 10px;
margin-left: 10px;

}

h2.title{
margin-bottom: 5px;
margin-left: 10px;
border-bottom: solid firebrick 10px;


}

#jobName{
    /*font-size:20px;*/
    text-transform: uppercase;
    font-weight: bold; 
    }

.jobTitle{
    /*font-size: 20px; */
    font-weight: bold;
}

.jobDescription{
    color:black;
    /*padding-bottom: 10px;*/
    margin-bottom: 10px;


}

p {
    padding-top: 10px;      
   
 }

/* this is for links within paragraphs */
p a{
font-weight:bold;

}
.jobSkills{
    font-weight: bold;
}


section.portfolio {


   
    height: 100%;
    width: 50%;
    margin: 30px;
     border-left: solid green 15px; 
    /*background-size: cover;
    background-position: center;
    object-fit: cover;
    object-position: center;*/
    /* border-bottom: solid 15px rgb(134, 245, 247); */
    float: right;


}


   


   


/* Media Query for topnav */

/* Screens smaller than 600px / links become block and font-size 20px */

@media(max-width:600px){
    
section.main {

width: 90vw;
max-width: 620px; 
margin: 30px 3vw; 
    

display: flex;
flex-flow: column;
align-items: stretch;

}

div.job{
border-bottom: solid firebrick;
margin-bottom: 10px;
margin-left: 10px;

}

h2.title{
margin-bottom: 5px;
margin-left: 10px;
border-bottom: solid firebrick 10px;
s

}

#jobName{
    /*font-size:20px;*/
    text-transform: uppercase;
    font-weight: bold; 
    }

.jobTitle{
    /*font-size: 20px; */
    font-weight: bold;
}

.jobDescription{
    color:black;
    /*padding-bottom: 10px;*/
    margin-bottom: 10px;


}

p {
    padding-top: 10px;      
   
 }

/* this is for links within paragraphs */
p a{
font-weight:bold;

}
.jobSkills{
    font-weight: bold;
}









